@font-face {
  font-family: "WarBase";
  src: url("../fonts/long_shot/Long_Shot.ttf");
}

body {
    .basiclist{
        margin-top: 4vh;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
  .warBase {
    font-family: "WarBase", sans-serif;
    font-size: 9rem;
  }
  .armies {
      display: flex;
      padding: 20px;
    .armyTables {
      display: flex;
      flex-direction: column;
      padding: 2vw;
      .armyLogos {
        width: auto;
        align-self: center;
        height: 250px;

        margin-top: 0;
      }
    }
  }
  .footer {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    margin: 0px 1vw 2vh;
    padding: 2vh;
    font-size: 9px;
    .footerSubsection1 {
      padding-top: 13px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      .AoSLogo {
        //   padding-top: 2vh;
        width: 20vw;
      }
      .footerwarBase {
        font-size: 6rem;
      }
    }
    p {
      margin-bottom: 0;
    }
    
   
  }
}
